.site-header {
    border-bottom: 1px solid #045C90;
    background-color: #84AEC9;
    box-shadow: 0 1px 0px #639FC3;
    &__title{
        margin: 0;
        padding: 0;
        color:$global-font-color;
        @include fontToRem(28, 1.4);
        font-weight: 200;
        text-align: center;
    }
}