/* custom properties */
:root {
	--bgc: #fff;
	--header-bgc:#42CECB;
}
html {
  	font-size: 112.5%;
	font-family: MHei,STHeitiTC-Light,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
	background: linear-gradient(135deg,  #266b94 0%,#92c1e5 100%); /* W3C */
	-webkit-font-smoothing: antialiased;
}
p{
	padding: 0;
	margin: 0;
	line-height: 1.4;
	font-weight: 200;
}
.mini-fs{
	font-size:12px;
}
.pull-right{
	float:right;
}
.info-header{
	background-color: rgba(255, 255, 255, 0.3);
	color:#fff;
	font-size: 24px;
}
.main-title{
	margin: 0 0 6px;
	font-size: 28px;
	font-weight: normal;
}
.subsection-headline{
	font-size: 22px;
}
.footer{
	padding:10px;
	color:#fff;
	text-align:center;
}
.km-info{
	font-size:16px;
	font-family: 'Roboto Mono' ;
	font-style: italic;
}
.info-inner{
	padding:26px 20px;
}

.list-wrapper{
	padding:10px;
}
.list-group{
  	margin    : 0;
  	padding   : 0;
	list-style: none;
}
.group-title{
	margin-bottom: 10px;
	font-size:20px;
	color:#fff;
}
.item{
	display: flex;
	padding:16px 10px;
	margin-bottom: 4px;
	border-radius:4px;
	color:#fff;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 8px #4886AD;
}
.item-type{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.item-info{
	display: flex;
	flex: 2;
	align-items: center;
	justify-content: center;
}
.item-time{
	font-family: 'Roboto Mono' ;
	font-style: italic;
	font-size:46px;
}