@import '../../../assets/css/_tools.mixins.scss';
.item {
    display: flex;
    margin-bottom: 8px;
    padding:16px 10px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(#fff, 0.25);
}
.item__heading {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item__body {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}
.item__time {
    font-family: 'Roboto Mono';
    font-style: italic;
    @include fontToRem(46, 1.4);
}
.item__icon-clock {
    @include fontToRem(22, 1.4);
}
.item__small {
    @include fontToRem(16, 1.4);
}
.item-appear {
    opacity: 0.01;
    transition: opacity .25s ease-in;
}

.item-appear.item-appear-active {
    opacity: 1;
}
