
.item {
	display: flex;
    margin-bottom: 8px;
    padding:16px 10px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(#fff, 0.25);
    box-shadow: 0px 0px 8px #4886AD;


	&.item-enter {
	  opacity: 0.01;
	}

	&.item-enter.item-enter-active {
	  opacity: 1;
	  transition: opacity .25s ease-in;
	}
	&.item-leave {
	  opacity: 1;
	}

	&.item-leave.item-leave-active {
	  opacity: 0.01;
	  transition: opacity .25s ease-in;
	}
	&.item-appear {
	  	opacity: 0.01;
	  	transition: opacity .25s ease-in;
	}

	&.item-appear.item-appear-active {
	  	opacity: 1;
	}
    &__heading {
    	display: flex;
	    flex: 1;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
    },
    &__body {
    	display: flex;
	    flex: 2;
	    align-items: center;
	    justify-content: center;
	    &--time {
	    	font-family: 'Roboto Mono' ;
		    font-style: italic;
		    font-size: 46px;
		    .icon-clock {
		        font-size: 22px;
		    }
	    },
	    &--small {
	    	font-size:16px;
	    }
    }
}
