.loading{
    height: 30px;
    width: 30px;
    right: -15px;
    left: -15px;
    top:50%;
    left:50%;
    z-index: 10;
    display: inline-block;
    position: absolute;
    transition: all 0.3s ease-in-out 0;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}