//layout

.header{
    margin-bottom: 10px;
}
.list-section{
    position: relative;
    min-height: 100px;
}

.footer{
    padding:10px;
}

// base style

.pull-right{
    float:right;
}
.mini-fs{
    font-size:16px;
    font-family: 'Roboto Mono' ;
    font-style: italic;
}

//wrapper
.list-wrapper{
    padding:10px;
}


//hearder
.header{
    background-color: rgba(255, 255, 255, 0.3);
    color:#fff;
    &__inner{
        padding:26px 20px;
    }
    &__title{
        margin: 0 0 6px;
        font-size: 28px;
        font-weight: normal;
    }
    &__subsection{
        font-size: 22px;
    }
}

//list
.list-group{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-title{
    margin-bottom: 10px;
    font-size:20px;
    color:#fff;
    .icon-train{
        vertical-align: middle;
    }
}

//footer
.footer{
    color:#fff;
    text-align:center;
}