//layout

.header {
    margin-bottom: 10px;
}
.list-section {
    position: relative;
    min-height: 100px;
}

.footer {
    padding: 10px;
}

// base style
.pull-right {
    float: right;
}

//wrapper
.list-wrapper {
    padding:10px;
}


//hearder
.header {
    background-color: $box-alpha-bg-color;
    color:$global-font-color;
    &__inner {
        padding:26px 20px;
    }
    &__title {
        margin: 0 0 6px;
        @include fontToRem(28, 1.4);
        font-weight: normal;
    }
    &__subsection {
        @include fontToRem(22, 1.4);
        &--small {
            @include fontToRem(16, 1.4);
            font-family: 'Roboto Mono';
            font-style: italic;
        }
    }
}

//list
.list-group {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-title {
    margin-bottom: 10px;
    @include fontToRem(20, 1.4);
    color: $global-font-color;
    .icon-train{
        vertical-align: middle;
    }
}

//footer
.footer {
    color: $global-font-color;
    text-align: center;
}