//color
$color-body-gb-lg-top : #266b94;
$color-body-bg-lg-down: #92c1e5;
$color-box-alpha-bg   : rgba(#fff, 0.3);

//font-size
$base-font-size:    16px;
$large-

$base-line-height:  1.4;

$base-radius:       4px;

