
html {
    font-size: 100%;
    font-family: MHei,STHeitiTC-Light,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
    background: linear-gradient(135deg,  #266b94 0%,#92c1e5 100%); /* W3C */
    -webkit-font-smoothing: antialiased;
}

p{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-weight: 200;
}
/* layout */
.info-header{
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color:#fff;
}

.list-section{
    position: relative;
    min-height: 100px;
}

.footer{
    padding:10px;
    color:#fff;
    text-align:center;
}

.mini-fs{
    font-size:12px;
}

.pull-right{
    float:right;
}


.main-title{
    margin: 0 0 6px;
    font-size: 28px;
    font-weight: normal;
}
.subsection-headline{
    font-size: 22px;
}

.mini-fs{
    font-size:16px;
    font-family: 'Roboto Mono' ;
    font-style: italic;
}
.info-inner{
    padding:26px 20px;
}

.list-wrapper{
    padding:10px;
}

.list-group{
    margin    : 0;
    padding   : 0;
    list-style: none;
}
.group-title{
    margin-bottom: 10px;
    font-size:20px;
    color:#fff;
    .icon-train{
        vertical-align: middle;
    }
}
/* loading */
.loading{
    height: 30px;
    width: 30px;
    right: -15px;
    left: -15px;
    top:50%;
    left:50%;
    z-index: 10;
    display: inline-block;
    position: absolute;
    transition: all 0.3s ease-in-out 0;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}